body {
    font-size: 15.5px;
}

.imgHeder {
    height: 480px;
    background-image: url('../img/HeaderBG.png');
    background-size: cover;
    background-position: center;
}
h5{
    font-size:18px;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-brand > img {
    height: 25px;
}

.btn-danger {
    background-color: #ff3611;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}
.card {
    border: 2px solid rgba(0,0,0,0.125);
}

.bg-light {
    background-color: rgba(196, 196, 196, 0.20) !important;
}